.custom {
    width: 10px !important;
    height: 10px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.custom2 {
    width: 10px !important;
    height: 10px !important;
    margin: 0px !important;
    padding: 0px !important;
}