<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Resultados do Plugin</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="../resources/css/bootstrap.min.css">
<link rel="stylesheet" href="../resources/css/bootstrap-dialog.css">

<script src="../resources/js/jquery.min.js"></script>
<script src="../resources/js/bootstrap.min.js"></script>
<script src="../resources/js/bootstrap-dialog.js"></script>
<script src="../resources/js/jquery.raty.js"></script>


<style>
    body    { padding-top:50px; }
</style>